$bg: #eee; // 整体背景色
$text-color1: #999; // 字体颜色-淡
$text-color2: #333; // 字体颜色-深
@mixin  ellipsis() {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
@function rem($px) {
  $rem: 37.5;
  @return ($px / $rem ) + rem;
}