$bg: #333;
$font-color: rgb(81, 165, 158);
@mixin  ellipsis() {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
@function rem($px) {
  $rem: 37.5;
  @return ($px / $rem ) + rem;
}